.card {
    margin: 10px;
    max-width: 25rem;
    text-align: center;
    font-size: 14px;
    border-style: none;
}

.card-text {
    color: grey;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

.card-img-top {
    max-height: auto;
    width: auto;
}